@use "maps" as *;
@use "sass:list";

@mixin no-user-select {
  -webkit-user-select: none;
  user-select: none;
}

@mixin user-select {
  -webkit-user-select: text;
  user-select: text;
}

@mixin truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin scrollbar(
  $width: 4px,
  $thumb-radius: 4px,
  $track-color: transparent,
  $thumb-color: color-mix(
      in oklab,
      var(--nmx-color-on-surface-variant) 50%,
      transparent
    )
) {
  &::-webkit-scrollbar {
    width: $width;
    height: $width;
  }

  &::-webkit-scrollbar-track {
    background: $track-color;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $thumb-color;
    border-radius: $thumb-radius;
    border: 2px solid $track-color;
  }

  &::-webkit-scrollbar-button {
    display: none;
    height: 0;
    width: 0;
  }

  scrollbar-width: thin;
  scrollbar-color: $thumb-color $track-color;
}

@mixin scrollbar-none {
  scrollbar-width: none;
  -ms-overflow-style: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }
}

@mixin backdrop-filter($value) {
  -webkit-backdrop-filter: $value;
  backdrop-filter: $value;
}

@mixin semantic-variants($prefix, $use-bg: true, $use-text: true) {
  @each $name, $color in $nmx-semantic-colors {
    &--#{$name} {
      @if $use-bg {
        --#{$prefix}-bg: #{$color};
      }
      @if $use-text {
        --#{$prefix}-text: #{$color};
      }
    }
  }
}

@mixin spacings($prefix) {
  @each $name, $spacing in $nmx-spacings {
    &--#{$name} {
      --#{$prefix}-spacing: #{$spacing};
    }
  }
}

@mixin sizes($prefix, $properties...) {
  $all: list.length($properties) == 0;
  @each $name, $size in $nmx-spacings {
    &--#{$name} {
      @if $all or list.index($properties, spacing) {
        --#{$prefix}-spacing: #{$size};
      }
      @if $all or list.index($properties, padding) {
        --#{$prefix}-py: #{$size};
        --#{$prefix}-px: #{$size};
      }
    }
  }
  @each $name, $font in $nmx-font-sizes {
    &--#{$name} {
      @if $all or list.index($properties, font) {
        --#{$prefix}-font: #{$font};
      }
    }
  }
}

@mixin flex-fill-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  min-height: 0;
}
