:root {
  --nmx-color-amber-300: #fcd34d;
  --nmx-color-amber-400: #fbbf24;
  --nmx-color-amber-500: #f59e0b;
  --nmx-color-amber-600: #d97706;

  --nmx-color-red-300: #fca5a5;
  --nmx-color-red-400: #f87171;
  --nmx-color-red-500: #ef4444;
  --nmx-color-red-600: #dc2626;

  --nmx-color-green-300: #86efac;
  --nmx-color-green-400: #4ade80;
  --nmx-color-green-500: #22c55e;
  --nmx-color-green-600: #16a34a;

  --nmx-color-blue-300: #93c5fd;
  --nmx-color-blue-400: #60a5fa;
  --nmx-color-blue-500: #3b82f6;
  --nmx-color-blue-600: #2563eb;

  --nmx-color-slate-300: #cbd5e1;
  --nmx-color-slate-400: #94a3b8;
  --nmx-color-slate-500: #64748b;

  --nmx-color-violet-300: #c4b5fd;
  --nmx-color-violet-400: #a78bfa;
  --nmx-color-violet-500: #8b5cf6;
  --nmx-color-violet-600: #7c3aed;

  --nmx-color-rose-300: #fda4af;
  --nmx-color-rose-400: #fb7185;
  --nmx-color-rose-600: #e11d48;
  --nmx-color-rose-700: #be123c;
}
