:root {
  --nmx-color-amber-500: #f59e0b;
  --nmx-color-amber-600: #d97706;

  --nmx-color-red-500: #ef4444;
  --nmx-color-red-600: #dc2626;

  --nmx-color-green-500: #22c55e;
  --nmx-color-green-600: #16a34a;

  --nmx-color-blue-500: #2563eb;
  --nmx-color-blue-600: #1d4ed8;

  --nmx-color-slate-400: #94a3b8;
  --nmx-color-slate-500: #64748b;

  --nmx-color-violet-500: #8b5cf6;
  --nmx-color-violet-600: #7c3aed;

  --nmx-color-rose-600: #e11d48;
  --nmx-color-rose-700: #be123c;
}
