.nmx-auth-view {
  position: absolute;
  height: 100%;
  width: 100%;
}

.nmx-auth-view__secondary-link {
  font-weight: var(--nmx-font-weight-bold);
  color: var(--nmx-color-on-surface);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.nmx-auth-view__card__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--nmx-spacing-sm);
  margin-top: var(--nmx-spacing-md);
}
