:root {
  // Duration tokens
  --nmx-duration-instant: 0ms;
  --nmx-duration-fast: 100ms;
  --nmx-duration-normal: 200ms;
  --nmx-duration-slow: 300ms;
  --nmx-duration-slower: 500ms;

  // Easing tokens
  --nmx-easing-standard: cubic-bezier(0.4, 0, 0.2, 1); // in - out
  --nmx-easing-enter: cubic-bezier(0, 0, 0.2, 1); // decelerate
  --nmx-easing-exit: cubic-bezier(0.4, 0, 1, 1); // accelerate
  --nmx-easing-emphasized: cubic-bezier(0.2, 0, 0, 1); // material you
}
