:root {
  --nmx-icon-logo: url("/icons/logo.svg");
  --nmx-icon-app-system: url("/icons/app-system.svg");
  --nmx-icon-app-about: url("/icons/app-about.svg");
  --nmx-icon-app-logs: url("/icons/app-logs.svg");
  --nmx-icon-app-settings: url("/icons/app-settings.svg");
  --nmx-icon-app-system-monitor: url("/icons/app-system-monitor.svg");
  --nmx-icon-app-network-traffic: url("/icons/app-network-traffic.svg");
  --nmx-icon-app-file-manager: url("/icons/app-file-manager.svg");
  --nmx-icon-app-terminal: url("/icons/app-terminal.svg");
  --nmx-icon-app-notification-center: url("/icons/app-notification-center.svg");
  --nmx-icon-app-package-center: url("/icons/app-package-center.svg");
}
