.nmx-icon-svg {
  width: 1em;
  height: 1em;
  object-fit: contain;

  &.symbol {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-image: var(--nmx-icon-src);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
}
