@use "./abstract/mixins" as *;

* {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--nmx-font-sans), serif;
  background-color: var(--nmx-color-bg);
  background-image: var(--nmx-wallpaper);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  @include no-user-select;
}

input,
textarea,
[contenteditable] {
  @include user-select;
}
