.nmx-addon-beacon {
  &__page {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
    overflow: hidden;
  }

  &__domain-wrap {
    display: flex;
    flex-direction: column;
    gap: var(--nmx-spacing-sm);
  }
}
