@use "../../abstract/mixins" as *;

.nmx-addon-frontgate {
  &__form {
    flex: 1;
    overflow-y: auto;

    @include scrollbar;
  }

  &__page {
    display: flex;
    flex-direction: column;
    flex: 1;
  }

  &__actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
    padding: var(--nmx-spacing-md);
  }

  &__list {
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: 0;
    overflow: hidden;
  }

  &__form {
    padding: var(--nmx-spacing-xl);
    padding-bottom: 0;
  }

  &__empty {
    color: var(--nmx-color-warning);
    text-align: center;
  }

  &__location-editor {
    display: flex;
    flex-direction: column;
    gap: var(--nmx-spacing-md);

    &__card {
      display: flex;
      flex-direction: column;
      gap: var(--nmx-spacing-xl);
      padding: var(--nmx-spacing-md);
      background: var(--nmx-color-surface-low);
      border-radius: var(--nmx-radius-md);
    }

    &__card-row {
      display: flex;
      gap: var(--nmx-spacing-md);
    }

    &__path {
      display: flex;
      flex-direction: row;
      gap: var(--nmx-spacing-md);
    }
  }
}
