@use "../../abstract/mixins" as *;
@use "../../abstract/variables" as *;

.nmx-addon-network-traffic {
  padding: 0;

  & &__badge {
    font-weight: var(--nmx-font-weight-bold);
    text-transform: uppercase;
  }
}

.nmx-addon-network-traffic__overview {
  padding: var(--nmx-spacing-md);
}

.nmx-addon-network-traffic__toolbar-header {
  background: var(--nmx-color-surface-low);
  container-type: inline-size;
}

.nmx-addon-network-traffic__toolbar-actions {
  min-width: 200px;
}

.nmx-addon-network-traffic__toolbar-actions {
  @container (min-width: #{$nmx-breakpoint-lg}) {
    min-width: 400px;
  }

  @container (max-width: #{$nmx-breakpoint-md}) {
    width: 100%;
  }
}

.nmx-addon-network-traffic__data-table-header {
  background: var(--nmx-color-surface-mid);
}

.nmx-addon-network-traffic__data-table-row,
.nmx-addon-network-traffic__pagination {
  background: var(--nmx-color-surface-low);
}
