@use "../../abstract/mixins" as *;

.nmx-addon-network-traffic {
  --nmx-rail-width: 180px;

  &__endpoints-badge.nmx-badge {
    font-weight: var(--nmx-font-weight-bold);
    text-transform: uppercase;
  }
}
