.nmx-addon-setting__profile-header {
  display: flex;
  align-items: center;
  gap: var(--nmx-spacing-3xl);
  padding-bottom: var(--nmx-spacing-6xl);
}

.nmx-addon-setting__avatar {
  width: 120px;
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--nmx-color-primary);
  font-size: var(--nmx-font-size-9xl);
  background: var(--nmx-color-surface-low);
  border-radius: var(--nmx-radius-md);
  box-shadow: var(--nmx-shadow-sm);
}

.nmx-addon-setting {
  & .nmx-addon-setting__meta-list {
    gap: var(--nmx-spacing-md);
  }

  & .nmx-addon-setting__meta-role {
    font-weight: bold;
    text-transform: uppercase;
  }

  & .nmx-addon-setting__meta-value {
    color: var(--nmx-color-on-surface);
    font-size: var(--nmx-font-size-2xl);
    font-weight: var(--nmx-font-weight-bold);
  }
}
