@use "../../abstract/mixins" as *;

.nmx-addon-warden {
  &__page {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  &__overview {
    overflow-y: auto;
    overflow-x: hidden;
    padding: var(--nmx-spacing-3xl) var(--nmx-spacing-md);

    @include scrollbar;
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex: 1;
    min-height: 0;
  }

  &__activity-meta-list {
    display: flex;
    flex-direction: column;
    gap: var(--nmx-spacing-xl);
  }
}
