@use "variables" as *;


[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-block {
  &:before {
    content: $ic-block; 
  }
}
.ic-task {
  &:before {
    content: $ic-task; 
  }
}
.ic-api {
  &:before {
    content: $ic-api; 
  }
}
.ic-proxy {
  &:before {
    content: $ic-proxy; 
  }
}
.ic-snooze {
  &:before {
    content: $ic-snooze; 
  }
}
.ic-undo {
  &:before {
    content: $ic-undo; 
  }
}
.ic-edit {
  &:before {
    content: $ic-edit; 
  }
}
.ic-activity {
  &:before {
    content: $ic-activity; 
  }
}
.ic-hostname {
  &:before {
    content: $ic-hostname; 
  }
}
.ic-file-link {
  &:before {
    content: $ic-file-link; 
  }
}
.ic-menu-vertical {
  &:before {
    content: $ic-menu-vertical; 
  }
}
.ic-upload {
  &:before {
    content: $ic-upload; 
  }
}
.ic-download {
  &:before {
    content: $ic-download; 
  }
}
.ic-dns {
  &:before {
    content: $ic-dns; 
  }
}
.ic-http {
  &:before {
    content: $ic-http; 
  }
}
.ic-https {
  &:before {
    content: $ic-https; 
  }
}
.ic-advanced {
  &:before {
    content: $ic-advanced; 
  }
}
.ic-code {
  &:before {
    content: $ic-code; 
  }
}
.ic-feature {
  &:before {
    content: $ic-feature; 
  }
}
.ic-sliders {
  &:before {
    content: $ic-sliders; 
  }
}
.ic-add {
  &:before {
    content: $ic-add; 
  }
}
.ic-lock {
  &:before {
    content: $ic-lock; 
  }
}
.ic-reverse-proxy {
  &:before {
    content: $ic-reverse-proxy; 
  }
}
.ic-security {
  &:before {
    content: $ic-security; 
  }
}
.ic-stats {
  &:before {
    content: $ic-stats; 
  }
}
.ic-logs {
  &:before {
    content: $ic-logs; 
  }
}
.ic-error-page {
  &:before {
    content: $ic-error-page; 
  }
}
.ic-ram {
  &:before {
    content: $ic-ram; 
  }
}
.ic-mark-all {
  &:before {
    content: $ic-mark-all; 
  }
}
.ic-filter {
  &:before {
    content: $ic-filter; 
  }
}
.ic-cpu {
  &:before {
    content: $ic-cpu; 
  }
}
.ic-time {
  &:before {
    content: $ic-time; 
  }
}
.ic-density-default {
  &:before {
    content: $ic-density-default; 
  }
}
.ic-density-compact {
  &:before {
    content: $ic-density-compact; 
  }
}
.ic-density-spacious {
  &:before {
    content: $ic-density-spacious; 
  }
}
.ic-warning {
  &:before {
    content: $ic-warning; 
  }
}
.ic-info {
  &:before {
    content: $ic-info; 
  }
}
.ic-arrow-bar-down {
  &:before {
    content: $ic-arrow-bar-down; 
  }
}
.ic-arrow-bar-up {
  &:before {
    content: $ic-arrow-bar-up; 
  }
}
.ic-home {
  &:before {
    content: $ic-home; 
  }
}
.ic-device {
  &:before {
    content: $ic-device; 
  }
}
.ic-setting {
  &:before {
    content: $ic-setting; 
  }
}
.ic-network {
  &:before {
    content: $ic-network; 
  }
}
.ic-error {
  &:before {
    content: $ic-error; 
  }
}
.ic-delete {
  &:before {
    content: $ic-delete; 
  }
}
.ic-install {
  &:before {
    content: $ic-install; 
  }
}
.ic-stop {
  &:before {
    content: $ic-stop; 
  }
}
.ic-update {
  &:before {
    content: $ic-update; 
  }
}
.ic-apps {
  &:before {
    content: $ic-apps; 
  }
}
.ic-link {
  &:before {
    content: $ic-link; 
  }
}
.ic-notification {
  &:before {
    content: $ic-notification; 
  }
}
.ic-play {
  &:before {
    content: $ic-play; 
  }
}
.ic-pause {
  &:before {
    content: $ic-pause; 
  }
}
.ic-check {
  &:before {
    content: $ic-check; 
  }
}
.ic-refresh {
  &:before {
    content: $ic-refresh; 
  }
}
.ic-enter {
  &:before {
    content: $ic-enter; 
  }
}
.ic-arrow-up {
  &:before {
    content: $ic-arrow-up; 
  }
}
.ic-arrow-down {
  &:before {
    content: $ic-arrow-down; 
  }
}
.ic-exit {
  &:before {
    content: $ic-exit; 
  }
}
.ic-appearance {
  &:before {
    content: $ic-appearance; 
  }
}
.ic-user {
  &:before {
    content: $ic-user; 
  }
}
.ic-nodes {
  &:before {
    content: $ic-nodes; 
  }
}
.ic-menu {
  &:before {
    content: $ic-menu; 
  }
}
.ic-menu-fold {
  &:before {
    content: $ic-menu-fold; 
  }
}
.ic-arrow-next {
  &:before {
    content: $ic-arrow-next; 
  }
}
.ic-arrow-prev {
  &:before {
    content: $ic-arrow-prev; 
  }
}
.ic-minimize {
  &:before {
    content: $ic-minimize; 
  }
}
.ic-maximize {
  &:before {
    content: $ic-maximize; 
  }
}
.ic-restore {
  &:before {
    content: $ic-restore; 
  }
}
.ic-close {
  &:before {
    content: $ic-close; 
  }
}
.ic-search {
  &:before {
    content: $ic-search; 
  }
}

