$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/public/fonts/icomoon/fonts" !default;

$ic-logo-symbol-light-path1: "\e901";
$ic-logo-symbol-light-path2: "\e902";
$ic-logo-symbol-light-path3: "\e903";
$ic-logo-symbol-light-path4: "\e904";
$ic-logo-symbol-light-path5: "\e905";
$ic-logo-symbol-light-path6: "\e906";
$ic-logo-symbol-dark-path1: "\e907";
$ic-logo-symbol-dark-path2: "\e908";
$ic-logo-symbol-dark-path3: "\e909";
$ic-logo-symbol-dark-path4: "\e90a";
$ic-logo-symbol-dark-path5: "\e90b";
$ic-logo-symbol-dark-path6: "\e90c";
$ic-security: "\e900";

