$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/public/fonts/icomoon/fonts" !default;

$ic-delete: "\e91e";
$ic-install: "\e91d";
$ic-stop: "\e91c";
$ic-update: "\e91b";
$ic-apps: "\e916";
$ic-link: "\e910";
$ic-notification: "\e915";
$ic-play: "\e919";
$ic-pause: "\e91a";
$ic-check: "\e918";
$ic-refresh: "\e917";
$ic-enter: "\e914";
$ic-arrow-up: "\e912";
$ic-arrow-down: "\e913";
$ic-exit: "\e911";
$ic-appearance: "\e90e";
$ic-user: "\e90d";
$ic-setting: "\e90f";
$ic-logs: "\e90a";
$ic-nodes: "\e90b";
$ic-stats: "\e90c";
$ic-menu: "\e909";
$ic-menu-fold: "\e908";
$ic-arrow-next: "\e906";
$ic-arrow-prev: "\e907";
$ic-minimize: "\e903";
$ic-maximize: "\e904";
$ic-restore: "\e905";
$ic-close: "\e902";
$ic-search: "\e901";
$ic-security: "\e900";

