$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "/public/fonts/icomoon/fonts" !default;

$ic-minimize: "\e903";
$ic-restore: "\e904";
$ic-maximize: "\e905";
$ic-close: "\e902";
$ic-search: "\e901";
$ic-security: "\e900";

