.nmx-addon-root {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  width: 100%;
  height: 100%;
  min-height: 0;
}

.nmx-addon-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  min-height: 0;

  &__data-table {
    flex: 1;
  }

  &__pagination {
    padding: var(--nmx-spacing-sm);
    background: var(--nmx-color-surface-low);
  }
}

.nmx-addon__placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: var(--nmx-font-size-lg);
  color: var(--nmx-color-on-surface);
}

.nmx-addon-form {
  width: 100%;
  padding: var(--nmx-spacing-3xl);

  &__content {
    max-width: var(--nmx-content-width-xs);
    margin: auto;
    width: 100%;
  }
}
