@use "../abstract/mixins" as *;

.nmx-button {
  display: inline-flex;
  border-radius: var(--nmx-radius-md);
  align-items: center;
  justify-content: center;
  gap: var(--nmx-spacing-md);
  padding: var(--nmx-spacing-md) var(--nmx-spacing-2xl);
  font-size: var(--nmx-font-size-sm);
  font-weight: var(--nmx-font-weight-semibold);
  font-family: inherit;
  color: var(--nmx-color-on-primary);
  background: var(--nmx-button-bg);
  border: 1px solid transparent;
  box-shadow: var(--nmx-shadow-sm);
  line-height: var(--nmx-line-height-normal);
  white-space: nowrap;
  cursor: pointer;
  outline: 0;
  transition:
    background 0.2s,
    color 0.2s,
    opacity 0.2s,
    transform 0.1s;

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @include semantic-variants("nmx-button");

  &:hover:not(:disabled) {
    background: color-mix(
      in oklab,
      var(--nmx-button-bg) 85%,
      var(--nmx-color-mix-darken)
    );
  }
}

.nmx-button--full-width {
  width: 100%;
}

.nmx-button--upper-case {
  text-transform: uppercase;
  letter-spacing: var(--nmx-letter-spacing-wide);
}

.nmx-button__live,
.nmx-button__refresh {
  padding: var(--nmx-spacing-md);
  font-size: var(--nmx-font-size-lg);
}
