@use "../abstract/mixins" as *;

.nmx-button {
  --nmx-button-text: var(--nmx-color-on-default);

  display: inline-flex;
  border-radius: var(--nmx-radius-md);
  align-items: center;
  justify-content: center;
  gap: var(--nmx-spacing-md);
  padding: var(--nmx-spacing-sm) var(--nmx-spacing-2xl);
  font-size: var(--nmx-font-size-xs);
  font-weight: var(--nmx-font-weight-extrabold);
  font-family: inherit;
  color: var(--nmx-color-on-primary);
  background: var(--nmx-button-bg);
  border: 1px solid transparent;
  box-shadow: var(--nmx-shadow-sm);
  line-height: var(--nmx-line-height-normal);
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  cursor: pointer;
  outline: 0;
  transition:
    background 0.2s,
    color 0.2s,
    opacity 0.2s,
    transform 0.1s;

  &:active:not(:disabled) {
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  @include semantic-variants("nmx-button");

  &:hover:not(:disabled) {
    background: color-mix(
      in oklab,
      var(--nmx-button-bg) 85%,
      var(--nmx-color-mix-darken)
    );
  }
}

.nmx-button--full-width {
  width: 100%;
}

.nmx-button--uppercase {
  text-transform: uppercase;
  letter-spacing: var(--nmx-letter-spacing-wide);
}

.nmx-button__live,
.nmx-button__refresh {
  padding: var(--nmx-spacing-md);
  font-size: var(--nmx-font-size-lg);
}

.nmx-button--outline {
  --nmx-button-bg: transparent;
  border-color: var(--nmx-button-text, var(--nmx-color-outline));
  color: var(--nmx-button-text);

  &:hover:not(:disabled) {
    background: color-mix(in oklab, var(--nmx-button-text) 8%, transparent);
  }
}

.nmx-button--ghost {
  --nmx-button-bg: transparent;
  border-color: transparent;
  box-shadow: none;
  color: var(--nmx-button-text);

  &:hover:not(:disabled) {
    background: color-mix(in oklab, var(--nmx-button-text) 8%, transparent);
  }
}

.nmx-button--text {
  --nmx-button-bg: transparent;
  border-color: transparent;
  box-shadow: none;
  color: var(--nmx-button-text);
  text-decoration: underline;
  text-underline-offset: 2px;

  &:hover:not(:disabled) {
    opacity: 0.8;
  }
}
