@use "../abstract/mixins" as *;

.nmx-data-table {
  --nmx-data-table-columns: 1;

  width: 100%;
  min-height: 0;
  display: flex;
  flex-direction: column;
  background: var(--nmx-color-surface-low);
  border-radius: var(--nmx-radius-md);
  box-shadow: var(--nmx-shadow-sm);
  overflow: hidden;

  &--no-columns {
    min-height: 0;
  }

  &__wrap {
    flex: 1;
    min-height: 0;
    width: 100%;
    display: grid;
    grid-template-rows: auto minmax(0, 1fr);
    font-size: var(--nmx-font-size-sm);
    text-align: start;
  }

  &__header-row {
    display: contents;
  }

  &__header-cell {
    color: var(--nmx-color-on-primary);
    background: var(--nmx-color-primary);
    font-size: var(--nmx-font-size-sm);
    font-weight: var(--nmx-font-weight-bold);
    letter-spacing: var(--nmx-letter-spacing-wide);
    padding: var(--nmx-spacing-lg) var(--nmx-spacing-md);
    text-transform: uppercase;
    white-space: nowrap;
    overflow: hidden;
  }

  &__body-scroll {
    grid-column: 1 / -1;
    grid-row: 2;
    min-height: 0;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    background: var(--nmx-color-surface-low);
    grid-template-columns: subgrid;
    align-content: start;

    @include scrollbar(6px);

    &:focus-visible {
      outline: 1px solid var(--nmx-color-primary);
    }
  }

  &__row {
    display: grid;
    grid-template-columns: subgrid;
    grid-column: 1 / -1;
    align-items: center;

    &--clickable {
      cursor: pointer;

      &:hover {
        background: color-mix(
          in oklab,
          var(--nmx-color-surface-mid) 50%,
          transparent
        );
      }
    }
  }

  &__row-cell {
    color: var(--nmx-color-on-surface);
    font-size: var(--nmx-font-size-sm);
    font-weight: var(--nmx-font-weight-regular);
    letter-spacing: var(--nmx-letter-spacing-normal);
    padding: var(--nmx-spacing-sm) var(--nmx-spacing-md);
    white-space: nowrap;
    text-transform: none;
  }

  &__header-cell,
  &__row-cell {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &--align-center {
      text-align: center;
    }

    &--align-end {
      text-align: end;
    }
  }

  &--ellipsis-disabled {
    text-overflow: clip;
  }

  &__row-fallback-content {
    grid-column: 1 / -1;
    text-align: center;
    font-style: italic;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--nmx-color-on-surface-variant);

    &--error {
      color: var(--nmx-color-error);
    }

    &--loading {
      color: var(--nmx-color-on-surface);
    }

    &--empty {
      color: var(--nmx-color-warning);
    }
  }
}
