@use "../abstract/variables" as *;

.nmx-disk-list {
  display: grid;
  grid-template-columns: max-content 1fr auto auto;
  align-items: center;
  column-gap: var(--nmx-spacing-md);
  row-gap: var(--nmx-spacing-sm);
  background: var(--nmx-color-surface-low);
  border-radius: var(--nmx-radius-md);
  box-shadow: var(--nmx-shadow-sm);
  padding: var(--nmx-spacing-md);
}

.nmx-disk-item {
  display: contents;

  &__name {
    color: var(--nmx-color-on-surface);
    font-size: var(--nmx-font-size-xs);
    font-weight: var(--nmx-font-weight-semibold);
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  &__bar {
    height: 6px;
    background: var(--nmx-color-surface-mid);
    border-radius: var(--nmx-radius-full);
    overflow: hidden;
  }

  &__fill {
    height: 100%;
    border-radius: var(--nmx-radius-full);
    transition: width 0.5s ease;

    &--success {
      background: var(--nmx-color-success);
    }
    &--warning {
      background: var(--nmx-color-warning);
    }
    &--error {
      background: var(--nmx-color-error);
    }
  }

  &__info {
    font-size: var(--nmx-font-size-xs);
    color: var(--nmx-color-on-surface-variant);
    white-space: nowrap;
    text-align: right;
  }
}
