.nmx-form {
  display: flex;
  flex-direction: column;
  gap: var(--nmx-spacing-2xl);
}

.nmx-form-field {
  display: flex;
  flex-direction: column;
  gap: var(--nmx-spacing-lg);
}

.nmx-form-field__label {
  display: block;
  font-size: var(--nmx-font-size-xs);
  font-weight: var(--nmx-font-weight-semibold);
  letter-spacing: var(--nmx-letter-spacing-label);
  text-transform: uppercase;
  color: var(--nmx-color-on-surface);
}

.nmx-form-field--required {
  color: var(--nmx-color-red-500);
}

.nmx-form-field__error-message {
  margin: 0;
  color: var(--nmx-color-red-500);
  font-size: var(--nmx-font-size-xs);
}

.nmx-form-field__helper {
  margin: 0;
  color: var(--nmx-color-on-surface-variant);
  font-size: var(--nmx-font-size-xs);
}

.nmx-form-input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: var(--nmx-radius-md);
  padding: var(--nmx-spacing-md) var(--nmx-spacing-2xl);
  font-size: var(--nmx-font-size-sm);
  line-height: var(--nmx-line-height-normal);
  color: var(--nmx-color-on-surface-variant);
  background: var(--nmx-color-surface-lowest);
  border: 1px solid var(--nmx-color-surface-lowest);
  font-family: var(--nmx-font-sans), serif;
  transition: border-color 0.15s;
  outline: none;
  appearance: none;

  &:-webkit-autofill,
  &:-webkit-autofill:active {
    -webkit-text-fill-color: var(--nmx-color-on-surface-variant);
    -webkit-box-shadow: 0 0 0 1000px var(--nmx-color-surface-lowest) inset;
    caret-color: var(--nmx-color-on-surface-variant);
    transition: background-color 5000s ease-in-out 0s;
  }

  &::placeholder {
    color: var(--nmx-color-on-surface-variant);
  }

  &:hover,
  &:focus,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus {
    -webkit-text-fill-color: var(--nmx-color-on-surface);
    -webkit-box-shadow: 0 0 0 1000px var(--nmx-color-surface-mid) inset;
    caret-color: var(--nmx-color-on-surface);
    border: 1px solid var(--nmx-color-surface-mid);
  }

  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
  }

  &--error {
    border-color: var(--nmx-color-red-500);
  }
}

.nmx-form-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  gap: var(--nmx-spacing-lg);
  margin-top: var(--nmx-spacing-xl);
}
