.nmx-inline-alert {
  &--error {
    --nmx-icon-box-bg: var(--nmx-color-red-500);
    --nmx-icon-box-text: var(--nmx-color-red-500);
  }

  &--warning {
    --nmx-icon-box-bg: var(--nmx-color-amber-500);
    --nmx-icon-box-text: var(--nmx-color-amber-500);
  }

  &--success {
    --nmx-icon-box-bg: var(--nmx-color-green-500);
    --nmx-icon-box-text: var(--nmx-color-green-500);
  }

  &--info {
    --nmx-icon-box-bg: var(--nmx-color-blue-500);
    --nmx-icon-box-text: var(--nmx-color-blue-500);
  }
}

.nmx-inline-alert {
  margin: 0 0 var(--nmx-spacing-sm);
  padding: var(--nmx-spacing-lg) var(--nmx-spacing-2xl);
  font-size: var(--nmx-font-size-sm);
  font-weight: var(--nmx-font-weight-medium);
  background-color: color-mix(
    in oklab,
    var(--nmx-icon-box-bg) 14%,
    transparent
  );
  border-radius: var(--nmx-radius-md);
  color: var(--nmx-icon-box-text);
}
