.nmx-loading {
  position: fixed;
  inset: 0;
  z-index: 99999;
  pointer-events: auto;

  &__overlay--solid {
    background: var(--nmx-color-surface);
    opacity: 1;
  }

  &__overlay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: color-mix(in oklab, var(--nmx-color-surface) 60%, transparent);
    position: relative;
    width: 100%;
  }
}
