@use "../abstract/mixins" as *;

.nmx-meta-list {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: var(--nmx-spacing-lg);
  align-items: start;
  text-align: start;

  &__item {
    display: contents;
    font-family: var(--nmx-font-mono), serif;
    font-size: var(--nmx-font-size-sm);

    &-label {
      color: var(--nmx-color-on-surface-variant);
      align-self: center;
    }

    &-value {
      color: var(--nmx-meta-text, var(--nmx-color-on-surface));
      word-break: break-all;
      text-align: start;

      &--muted {
        --nmx-meta-text: var(--nmx-color-on-surface-variant);
      }

      &--end {
        text-align: end;
      }

      @include semantic-variants("nmx-meta", false, true);
    }
  }

  &--block {
    .nmx-meta-list__item-value {
      background: var(--nmx-color-surface-lowest);
      padding: var(--nmx-spacing-md);
      border-radius: var(--nmx-radius-md);
      white-space: pre-wrap;
    }
  }
}