@use "../abstract/mixins" as *;

.nmx-notification-panel {
  position: absolute;
  bottom: 0;
  right: var(--nmx-spacing-md);
  transform: translate(0, calc((-1 * (var(--nmx-taskbar-height) + var(--nmx-spacing-md)))));
  will-change: transform;
  min-width: var(--nmx-taskbar-notification-min-width);
  max-width: min(
          var(--nmx-taskbar-notification-max-width),
          calc(100vw - var(--nmx-spacing-md) * 2)
  );
  width: auto;
  background: var(--nmx-color-surface);
  border-radius: var(--nmx-radius-md);
  box-shadow: var(--nmx-shadow-md);
  display: flex;
  flex-direction: column;
  overflow: hidden;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--nmx-spacing-lg);
    padding-right: var(--nmx-spacing-sm);
  }

  &__title-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--nmx-spacing-sm);
  }

  &__title {
    color: var(--nmx-color-on-surface);
    font-weight: var(--nmx-font-weight-bold);
    font-size: var(--nmx-font-size-md);
  }

  &__title-badge {
    font-size: var(--nmx-font-size-2xs);
    border-radius: var(--nmx-radius-full);
  }

  &__actions {
    display: flex;
    flex-direction: row;
    gap: var(--nmx-spacing-xs);
  }

  &__actions-btn {
    display: flex;
    background: none;
    border: none;
    color: var(--nmx-color-on-surface);
    font-size: var(--nmx-font-size-lg);
    padding: var(--nmx-spacing-sm);
    margin: 0;
    outline: 0;
    cursor: pointer;

    &:hover {
      background: var(--nmx-color-surface-mid);
      border-radius: var(--nmx-radius-md);
    }
  }

  &__actions-btn:hover &__actions-icon {
    color: var(--nmx-color-primary);
  }

  &__list {
    display: flex;
    flex-direction: column;
    padding-top: 0;
    flex: 1;
    overflow-y: auto;
    max-height: var(--nmx-taskbar-notification-max-height);

    @include scrollbar;
  }

  &__loading,
  &__empty {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--nmx-spacing-sm);
    padding: var(--nmx-spacing-6xl);
    color: var(--nmx-color-on-surface-variant);
    font-size: var(--nmx-font-size-sm);
  }
}

.nmx-notification-item {
  display: flex;
  align-items: flex-start;
  width: 100%;
  gap: var(--nmx-spacing-sm);
  padding: var(--nmx-spacing-sm);
  font-family: inherit;
  border: none;
  background: none;
  cursor: pointer;
  text-align: left;
  position: relative;

  &:hover {
    background: var(--nmx-color-surface-low);
  }

  &--unread {
    background: var(--nmx-color-surface-mid);

    &:hover {
      background: var(--nmx-color-surface-high);
    }
  }

  &__icon-box {
    align-self: center;
    background: transparent;
    padding: var(--nmx-spacing-sm);
    position: relative;
  }

  &__icon {
    font-size: var(--nmx-font-size-4xl);
  }

  &__box-level {
    display: flex;
    position: absolute;
    margin: 0;
    padding: var(--nmx-spacing-xs);
    border-radius: var(--nmx-radius-full);
    bottom: 3px;
    right: 3px;
  }

  &__icon-level {
    font-size: var(--nmx-font-size-sm);
  }

  &__body {
    display: flex;
    flex-direction: column;
    gap: var(--nmx-spacing-sm);
    flex: 1;
    min-width: 0;
  }

  &__title {
    color: var(--nmx-color-on-surface);
    font-size: var(--nmx-font-size-sm);
    font-weight: var(--nmx-font-weight-bold);
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &__description {
    color: var(--nmx-color-on-surface);
    font-size: var(--nmx-font-size-sm);
  }

  &__time {
    color: var(--nmx-color-on-surface-variant);
    font-size: var(--nmx-font-size-xs);
    margin-left: auto;
  }
}