.nmx-segmented-group {
  display: flex;
  gap: var(--nmx-spacing-sm);
  width: 100%;

  &__btn {
    flex: 1;
    border: 0;
    padding: var(--nmx-spacing-md) var(--nmx-spacing-sm);
    border-radius: var(--nmx-radius-md);
    font-size: var(--nmx-font-size-sm);
    color: var(--nmx-color-on-surface-variant);
    background: var(--nmx-color-surface-mid);
    box-shadow: var(--nmx-shadow-sm);
    cursor: pointer;
    text-align: center;
    font-family: inherit;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &--active {
      color: var(--nmx-color-on-primary);
      background: var(--nmx-color-primary);
    }
  }
}
