@use "../icomoon/variables" as *;

.nmx-select-wrap {
  position: relative;
  width: 100%;

  &:after {
    content: "#{$ic-arrow-down}";
    color: var(--nmx-color-on-surface-variant);
    font-family: var(--nmx-font-icommon), serif;
    position: absolute;
    pointer-events: none;
    top: 50%;
    right: var(--nmx-spacing-md);
    transform: translateY(-50%);
    transition:
      color 0.2s,
      transform 0.2s ease;
  }

  &:has(select:focus-visible):after {
    color: var(--nmx-color-on-surface);
    transform: translateY(-50%) rotate(180deg);
  }
}

.nmx-select-control {
  appearance: none;
  -webkit-appearance: none;
  font-size: var(--nmx-font-size-sm);
  padding: var(--nmx-spacing-lg);
  border-color: transparent;
  border-radius: var(--nmx-radius-md);
  background: var(--nmx-color-surface-lowest);
  color: var(--nmx-color-on-surface-variant);
  font-family: var(--nmx-font-sans), sans-serif;
  width: 100%;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus-visible {
    color: var(--nmx-color-on-surface);
    background: var(--nmx-color-surface-mid);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
